
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/src/v15/.suo
src/.vs/src/v15/Browse.VC.db
src/.vs/src/v15/Browse.VC.opendb
src/.vs/src/v15/ipch/AutoPCH/756009f6cf633415/SHELLMAIN.ipch
src/.vs/src/v15/ipch/AutoPCH/6aeed7a05ab3795f/WINDOWS.ipch
src/.vs/src/v15/ipch/AutoPCH/b1d9711a59892040/WINDOWS.WINDOWBASE.ipch
src/.vs/src/v15/ipch/AutoPCH/b62be779ca18b462/WINDOWS.ipch
*.ipch
